* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    body {
      background-color: #fff;
      color: #222;
    }

    /* Cabeçalho */
    header {
      background: #0D0D0D;
      color: #C9A13C;
      padding: 20px 5%;
      position: relative;
    }

    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      position: relative;
      width: 100%;
    }

    header a{
      text-decoration: none;
      color: #C9A13C;
    }

    header h1 {
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: bold;
      color: #C9A13C;
    }

    .header-right{
      display: flex;
      gap: 20px;
    }

    .header-right a {
      color: #F5F5F5;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      transition: color 0.3s;
    }

    .header-right a:hover {
      color: #C9A13C;
    }

    nav {
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-grow : 1;
      text-align: center;
    }

    nav a {
      text-decoration: none;
      color: #F5F5F5;
      font-size: 1rem;
      font-weight: 500;
      transition: color 0.3s;
    }

    nav a:hover {
      color: #C9A13C;
    }

    /* Hero */
    .hero {
      background: #0D0D0D;
      color: #F5F5F5;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 80px 10%;
      flex-wrap: wrap;
    }

    .hero-text h2 {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 10px;
    }

    .hero-text h1 {
      font-size: 3rem;
      color: #C9A13C;
      margin-bottom: 20px;
    }

    .hero-text p {
      font-size: 1rem;
      margin-bottom: 20px;
      color: #ccc;
    }

    .btn {
      display: inline-block;
      padding: 12px 25px;
      background: #C9A13C;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      border-radius: 10px;
      transition: background 0.3s ease;
    }

    .btn:hover {
      background: #a8842e;
    }

    .hero img {
      max-width: 300px;
    }

    .section {
      padding: 60px 10%;
      text-align: center;
      background: #FAFAFA;
    }

    .section h1 {
      font-size: 18px;
      margin-bottom: 15px;
      color: #0D0D0D;
    }

    .section h2 {
      font-size: 2rem;
      margin-bottom: 15px;
      color: #0D0D0D;
    }

    .section h1 {
      color: #555;
      margin-bottom: 40px;
    }

    .products {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 40px;
      justify-items: center;
    }

    .product {
      background: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      text-align: center;
      transition: transform 0.3s;
      width: 259px;
    }

    .product p{
      margin-bottom: 20px;
    }

    .product:hover{
      transform: translateY(-5px);
    }

    .product img {
      width: auto;
      max-height: 199px;
      margin-bottom: 15px;
    }

    .price{
      font-size: 1.2rem;
      font-weight: bold;
      color: #555;
    }

    .catalog{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      gap: 20px;
      margin-top: 20px;
      align-items: start;
    }

    .catalog-item{
      display: grid;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
      text-align: center;
      padding: 15px;
      border-radius: 10px;
      background:#fff;
      box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
      transition: transform 0.2s ease;
    }

    .catalog-item:hover{
      transform: translateY(-5px);
    }

    .catalog-item img{
      width: 100%;
      max-width: 180px;
      height: auto;
      border-radius: 8px;
      object-fit: contain;
      margin-bottom: 10px;
    }

    .catalog-item p{
      margin-bottom: 20px;
    }

    .catalog-item .price{
      font-size: 1.1rem;
      font-weight: bold;
      color: #555;
      margin: 8px 0;
    }

    .catalog-item .btn{
      margin-top: 10px;
    }

    /* Paginação */
    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      gap: 10px;
      margin-bottom: 40px;
    }

    .pagination a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: #fff;
      color: #0D0D0D;
      font-weight: bold;
      text-decoration: none;
      border-radius: 8px;
      box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
      transition: all 0.3s ease;
    }

    .pagination a:hover {
      background: #c9a13cc4;
      color: #fff;
    }

    .pagination .prev,
    .pagination .next {
      font-size: 1.2rem;
    }

    .pagination a.active {
      background: #aaaaaa;
      color: #fff;
      pointer-events: none;
    }

    /* Rodapé */

footer {
  background-color: #0D0D0D;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  font-size: 14px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.footer-left {
  flex: 1;
  text-align: left;
}

.footer-right img {
  width: 24px;
  height: 24px;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.contato-label {
  font-weight: bold;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

